.sidebar {
    position: relative; /* 고정되지 않은 상대적 위치 */
    width: 210px; /* 고정된 너비 */
    height: 100vh; /* 화면 전체 높이 */
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
    cursor: pointer;
    width: 180px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    transition: all 0.3s ease;
  }
  
  .sidebar ul li:hover {
    background-color: #ADBCAB;
    color: #006D01;
  }
  
  .sidebar ul li .menu-icon {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    fill: black; /* 기본 색상 */
    stroke: black; /* 기본 색상 */
    transition: fill 0.3s ease; /* 부드러운 전환 효과 */
  }
  
  .sidebar ul li:hover .menu-icon {
    fill: #006D01; /* 호버 시 색상 변경 */
    stroke: #006D01; /* 호버 시 색상 변경 */
  }

  
  .main-content {
    flex: 1; /* 사이드바 옆 공간을 모두 차지 */
  }