.legend-wrapper {
    position: absolute;
    bottom: 10px;
    right: 24px;
}

.legend-dots {
    display: flex;
    gap: 8px;
    font-size: 12px;
    color: #666;
}

.dot-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.dot {
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.wildboar { background-color: #FF0000; }
.deer { background-color: #FFA500; }
.goat { background-color: #008000; }
.human { background-color: #0000FF; }
.car { background-color: #800080; }
.etc { background-color: #A9A9A9; }
