.login-wrap {
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.login-wrap h3 {
    font-family: 'ClimateCrisisKR-1979';
    background: linear-gradient(to right, #006D01, #ADBCAB);
    -webkit-background-clip: text; /* 텍스트에만 배경 클립 적용 */
    -webkit-text-fill-color: transparent; /* 텍스트 색상 투명 */
    font-size: 40px;
    font-weight: bold;
}

.login-wrap h4 {
    color: #9a9a9a;
    font-size: 12px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-img img {
    width: 300px;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.login-box p {
    font-size: 20px;
    font-weight: bold;
    color: #006D01;
}

.login-box form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}

.login-text {
    color: #006D01;
    font-weight: bold;
    font-size: 35px;
    padding-left: 10px;
}

.login-box input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
}

.login-box input:focus {
    border: 1px solid #006D01;
}

.login-box button {
    width: 100%;
    padding: 5px;
    background-color: #ADBCAB;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.login-box button:hover {
    background-color: #006D01;
}
