.step-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 98%;
  flex-direction: row;
  gap: 10px;
}

.step-container .num {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 100%;
    background-color: #E6E6E6;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
}

.step-container .num.active {
    background-color: #006D01;
}

.step-container .num.completed {
    background-color: #A7B8A5;
}

.step-container p {
    font-size: 14px;
    white-space: nowrap;
}

.step-container span {
    font-size: 12px;
    color: #B0B0B0;
    white-space: nowrap;
    min-width:30px;
}

.hr-basic {
    border: none;
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* 완료된 hr */
  .hr-completed {
    border-top: 1px solid #006100;
  }