.search-filter {
    display: flex;
    position: relative;
    padding: 16px 20px;
    background: #fbfbfb;
    width: 94%;
    height: 80px;
    gap: 20px;
    font-size: 12px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 15%;
}

.bookmark {
    min-width: 50px;
}

.filter-select {
    padding: 6px 24px 6px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background: #fff;
    font-size: 12px;
    font-family:'Pretendard';
}

.search-button {
    padding: 6px 16px;
    background: #117a12;
    color: white;
    border: none;
    border-radius: 4px;
    height: 60px;
    width: 100%;
    cursor: pointer;
    margin-left: auto;
}
