.sidebar {
  position: relative;
  width: 210px;
  height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.sidebar .logo {
  font-family: 'ClimateCrisisKR-1979';
  background: linear-gradient(to right, #000000, #747474);
    -webkit-background-clip: text; /* 텍스트에만 배경 클립 적용 */
    -webkit-text-fill-color: transparent; /* 텍스트 색상 투명 */
  font-size: 24px;
  font-weight: bold;
  margin: 10px 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 5px 0;
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 활성화된 버튼 배경색 변경 */
.sidebar ul li.active {
  background-color: #ADBCAB;
  color: #006D01;
}

/* 이벤트 검수 버튼이 토글된 경우 스타일 (배경색 변경 없음) */
.sidebar ul li.toggled {
  color: #006D01;
}

/* 아이콘 색상 변경 */
.sidebar ul li .menu-icon {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  fill: black;
  stroke: black;
  transition: fill 0.3s ease;
}

.sidebar ul li.active .menu-icon,
.sidebar ul li.toggled .menu-icon {
  fill: #006D01;
  stroke: #006D01;
}

/* 화살표 아이콘 스타일 */
.sidebar ul li .arrow-icon {
  margin-left: auto;
  width: 10px;
  height: 10px;
  stroke: black;
  transition: transform 0.3s ease, stroke 0.3s ease;
}

.sidebar ul li.toggled .arrow-icon {
  transform: rotate(180deg);
  stroke: #006D01;
}

.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.sidebar ul li.active a {
  color: #006D01;
}

.sub-menu li .menu-icon {
  margin-left: 20px;
}